form {
    width: 40%;
    margin: auto;
    margin-top:15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;


}

form * {
    margin-bottom: 10px;
}

form input{
    height: 25px;
    width: 200px;
}

form h2 {
    text-decoration: underline 4px rgb(45, 204, 80);
    margin-bottom: 30px;
}


form button {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    }

form button :hover {
        transition: 0.2s;
        background-color: rgb(45, 204, 80);
        border: 1px solid rgb(45, 204, 80);
        }
