
nav{
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    justify-content: flex-end;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: rgb(255, 255, 255);
    height: 20px;
    z-index: 100;
    
  }

  nav a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    margin-right: 50px;
  }
  nav a:hover {
    color: rgb(45, 204, 80);
  }

  footer{
    margin-top: 40px;
    height: 70px;
    bottom: 0;
    background-color:  rgba(195, 195, 188, 0.221);
    width: 100%;
    position: relative;
    
  }